body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #FFA216;
}

p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
